#root {
  text-align: center;
  --white: #FFFFFF;
  --dark1:#062226;
}

body{
  background: purple/*10123b*/;
  background-size: cover;
  overflow: scroll;
  margin:0 auto;
}

h2{
  color: var(--white);
  font-size: 40px;
}

h3{
  color: rgb(240, 91, 141);
  font-size: 30px;
}

b{
  font-size: 24px;
  color: var(--white);
}

p{
  font-size: 18px;
  color: rgb(172, 172, 175);
}


.App{
 margin: 0 auto;
 background-size: cover;
}

.imgBG{
  background-image: url(./img/BackGround.jpg);
  width: 1840px;
  height: 340px;
  background-position: top center;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

input{
  width: 300px;
  height: 45px;
  border: none;
  box-shadow: 0px 0px 10px 9px #f1500b82;
  font-size: 20px;
  padding-left: 30px;
}

.btn{
  border-radius: 1px;
  box-shadow: 0px 0px 10px 9px #f1500b82;
  width: 80px;
  height: 47px;
  cursor: pointer;
  padding: 0px;
  color: var(--dark1);
}

.btn span{
  text-align: center;
  font-size: 39px;
}

.text{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  list-style: none;
  gap: 30px;
}

.color{
  color: rgb(172, 172, 175);
  font-size: 20px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}

.size{
  width: 400px;
  list-style: none;
}


.ctn{
  padding: 30px 8px 8px 8px;
  color: var(--white);
  border-radius: 12px;
  background: #133439cc;
  align-items: center;
  justify-content: center;

}

.ctn img{
  border-radius: 50%;
  box-shadow: 0px 0px 10px 9px #14971f82;
}
